font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;

body{
    margin: 0%;
    padding: 0%;

    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

/* HEADER */

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li{
    padding: 15px;
}

header nav ul li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: large;
}

a:hover{
    color: orangered;
}

/* ----------------------- */

/* MAIN NOSOTROS */

main{
    display: grid;
    grid-template-areas: 
    "section aside";
}

main section{
    grid-area: section;
    height: 500px;
}

main section article{
    display: flex;
    max-width: 75%;
    height: auto;
    flex-direction: column;
}

main section article div h1{
    font-family: 'Bebas Neue', cursive;
    color: orangered;
    font-size: xxx-large;
}

main section article div ul{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

main aside{
    grid-area: aside;
}

/* ----------------------- */

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-family: 'Roboto', sans-serif;
}

footer div ul{
    display: flex;
    list-style: none;
}

footer div ul li a{
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}